.box {
  box-sizing: border-box;
}


body {
  max-width: 100%;
  overflow-x: hidden;
  
}


.box {
    padding: 15px;
    border: 1px solid white;
    min-height: 50px;
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  .card {
    display: flex;
     margin: 15%;
    text-align: center;
    width: 75%;

  }

  a {
    text-decoration: none;
    color: white;
  }

  .navbar {
    width: 100%;
  }

  p {
   margin: 5px 5px;
  }

  .thumbnail {
    margin: 15px 15px;
  }
  
  .nav-link {
    font-size: 20px;
  }

  .navbar-brand {
    font-size: 25px;
  }

  
  .nav-link:hover {
    color: blue;
    
  }

  .dropdown-item:hover {
    color: blue;
  }

  .dropdown-item {
    font-size: 20px;
  }

  
  
