.box {
    padding: 15px;
    border: 1px solid white;
    min-height: 50px;
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  .card {
    
    margin: 12%;
    width: 75%;

  }

  a {
    text-decoration: none;
  }
  
  
