body {
  max-width: 100%;
  overflow-x: hidden;
  
}


.box {
    padding: 15px;
    border: 1px solid white;
    min-height: 50px;
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  .card {
    display: flex;
     margin: 12%;
    text-align: center;
    width: 75%;

  }

  a {
    text-decoration: none;
    color: white;
  }

  .navbar {
    max-width: 100%;
  }

  p {
   margin: 5px 5px;
  }
  
  
